
<!-- Navbar and header-->

<nav>
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">OSN - Onion Scraping Network</a>
		<ul id="nav-mobile" class="left hide-on-med-and-down">
	        <li><a href="sass.html">Home</a></li>
	        <li><a href="badges.html">Saved Articles</a></li>
	        <li><a href="collapsible.html">Scrape New Articles</a></li>
      	</ul>
    </div>
</nav>
